<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: template (~{:: #home-page-section})}">

    <section id="home-page-section">
        <div class="container">
            <div>
                <img th:src="@{/img/hero-home.jpg}" alt="Pizza" style="width: 100%; height: 300px; object-fit: cover">
            </div>
            <div style="text-align: center">
                <h2 style="font-size: 2em">Pizza neapolitańska</h2>
                <p style="font-weight: 200">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi at beatae cum cumque doloremque dolorum eaque eius eos esse eveniet ex fuga harum maxime minima nam, nemo neque nostrum nulla odio omnis perferendis possimus quam quas quasi quibusdam quo sed tempore veniam vero? Autem culpa et itaque numquam quam.</p>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: center">
                <a class="btn" href="">Sprawdź nasze menu</a>
            </div>
        </div>
    </section>
</html>