<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: template (~{:: #opinions-content})}">

<section id="opinions-content">
    <div class="container">
        <h2>Opinie</h2>
        <h3>Dodaj nową opinię</h3>
   <div>
   <tr th:each="opinion : ${opinion}">
    <td>
        <h4 th:text="${opinion.name}"></h4>
        <h6 th:text="${opinion.opinion}"></h6>
    </td>
    </tr>
    </div>
        <form method="post" th:object="${opinions}">
            <div>
                <input th:field="*{name}" type="text" placeholder="Nazwa" class="input">
            </div>
            <div>
                <input th:field="*{opinion}" type="text" placeholder="Twoja opinia..." class="input">
            </div>
            <div>
                <button class="btn">Dodaj</button>
            </div>
        </form>
    </div>
</section>
</html>